* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

input:focus,
button:focus {
  outline: none;
}

header {
  background-image: url("./image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

header * {
  z-index: 1;
}

h1 {
  margin: 0 0 30px;
}

form {
  position: relative;
  width: 500px;
  max-width: 100%;
}

form input {
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  width: 100%;
}

form button {
  background-color: yellow;
  border: 0;
  border-radius: 50px;
  color: white;
  font-size: 16px;
  padding: 13px 30px;
  position: absolute;
  top: 2px;
  right: 2px;
}

.btn {
  background-color: orange;
  border: 0;
  border-radius: 10px;
  color: white;
  padding: 14px 10px;
  transition: ease-out 0.4s;
}

.btn:hover {
  box-shadow: inset 400px 0 0 0 #ff8800;
}

ul.songs {
  list-style-type: none;
  padding: 0;
}

ul.songs li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}

.container {
  margin: 30px auto;
  max-width: 100%;
  width: 500px;
}

.container h2 {
  font-weight: 300;
}

.container p {
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
}

.centered button {
  transform: scale(1.3);
  margin: 15px;
}
